.footerContent {
  height: 585px;
  background-color: #1f2223;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 80px;
  gap: 50px;
}
.footerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footerTitles {
  color: rgb(255, 255, 255);
  display: block;
}
.footerTitlesTxt {
  width: 470px;
  height: 68px;
  left: 485px;
  top: 80px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.footerdescriptionTxt {
  width: 661px;
  height: 54px;
  left: 389px;
  top: 164px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #c7c9d1;
}
.headerSearchBar {
  background-color: #ffffff;
  width: 292px;
  height: 48px;
  border-radius: 6px;
}
.headerSearchBarBtn {
  background-color: #1a54f2;
  width: 156px;
  height: 48px;
  border-radius: 6px;
}
.emailReqField {
  display: flex;
  gap: 20px;
}
.border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1080px;
  height: 0px;
  border: 1px solid #393f42;
}
.officeDetails {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 1301px;
}
.particularDetails {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}
.particularDetailsHeader {
  width: 76px;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.particularDetailsBodyTxt {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #c7c9d1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.partnerLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
}
.partnerImageContainer {
  display: flex;
  gap: 20px;
  width: 60%;
}
.partnerImages {
  width: 50%;
}
.copyRights {
  color: #c7c9d1;
  font-size: 12px;
}
